<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>home</title>

<!--     CDN REQUIREMENTS  -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

<!--     STYLE CSSS  -->
<style>
  .card-tamaño-pequeño {
    float: center;
    display: block;
    width: 100%;
    height: 50%;

  }

  .sidenav {
    float: right;

    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 250px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */

    left: 0;
    background-color: #005262;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
  }

  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #2BC7DE;
  }

  /* Style page content */
  .main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 18px;
    }
  }


  .circular--square { border-radius: 50%; }
</style>

<!--     CABECERA -->

<head>
  
 
    <nav class="sticky-top navbar navbar-light bg-info ">
      <div style="text-align: left;">&nbsp; <img src="views\WebsiteImages\delfines.png" alt="" title="Logo"
          style="width: 67px; height: 67px;"><a class="navbar-brand text-light" href="#">&nbsp; Echoes </a></div>
          <a class="btn btn-danger" href="/exit" role="button"><img src="views\WebsiteImages\logout.png" width="25"  height="25"><p>Log Out</p></a>
      <div class="collapse navbar-collapse" id="navbarNav"><a class="navbar-brand text-light" href="#"> </a>
        <ul class="navbar-nav">
          <a class="navbar-brand text-light" href="#"> </a>
          <li class="nav-item active"><a class="navbar-brand text-light" href="#">
            </a><a class="nav-link" href="#">Profile</a> </li>
        </ul>
      </div>
    </nav>



  
</head>


<!-- CUERPO -->

<body style="background-color:#DCD1CA">
  <!-- Side navigation -->
  <div class="sidenav">
    <a href="/myechos"><img src="views\WebsiteImages\001-loupe.png"> My Echoes</a>
    <a href="#"><img src="views\WebsiteImages\001-loupe.png"> Search</a>
    <a href="/Profile/<%= email %>"><img src="views\WebsiteImages\003-user.png"> Profile</a>
    <a href="#"><img src="views\WebsiteImages\002-high-five.png"> Friends</a>
    <a href="/friend-request"><img src="views\WebsiteImages\002-network.png"> Friend Requests</a>
    <p></p>
    <a class="btn btn-info" href="/newpost" role="button"><img src="views\WebsiteImages\more.png" width="25"  height="25">  
      <p>Create a New Echo!</p></a>
      <p></p>
    
  </div>

  <div class="d-flex flex-row"></div>


  <div class="container p-4 card-tamaño-pequeño">
    <!--container-md mt-3 border -->
    <div class="row" >
      <div class="col-md-4 offset-md-3" >
        <div class="card-rows" style="width: 600px;">
       
          <% images.forEach(function (image) { %>
            <h1 class="animate__animated animate__fadeInDown">
              <div class="card card-tamaño-pequeño">
                <div class="card bg-info text-white" >
                  
                  <p> 
                    <img class="circular--square" src="<%= image.profilePic%>"  width="64" 
                    height="64"/> <font size="+0.6"><%= image.firstName %>  <%= image.lastName %> did an echo! </font> 
                    
                  </p>
                  <a href="/Profile2/<%= image._id %>" class="btn btn-primary center btn-sm" > View Profile </a>
                  <h6> <img src="views\WebsiteImages\004-wall-clock-1.png" height="18" width="18" >
                    <%= format(image.date) %>
                  </h6>
                  <h6>
                    <%= image.description %>
                  </h6>
                  </p>
                  <img src="<%= image.path %>" class="card-img-bottom ">
                  
                  <!--<a href="/editpost/<%= image._id %>" class="btn btn-primary"> Edit Echo </a>-->
                  <p class="card-text ">

                  </p>
                </div>
            </h1>
            <% }) %>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>




</body>

</html>